article {
  padding: 2rem 0;
  font-family: $font-family-secondary;

  h1, p, section {
    padding-bottom: 1rem;
  }

  h1, h2 {
    color: #deb987;
    font-size: 1.4rem;
    font-family: $font-family-primary;

  }
}
