@mixin theme($background, $text) {
  background-color: $background;
  color: $text;

  a {
    color: $text;
  }
  .slider {
    background: transparent;
  }
  input::placeholder, input:-webkit-autofill {
    color: $text;
    -webkit-text-fill-color: $text;
  }
}

@mixin light-theme {
  @include theme($primary-color-light, $primary-color-dark);
}

@mixin dark-theme {
  @include theme($primary-color-dark, $primary-color-light);
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}
#root[theme="dark-theme"] {
  @include dark-theme
}

#root {
  @include light-theme;
  font-size: 14px;
  transition: background-color .5s ease-in-out;

  //&.dark-theme {
  //  background-color: $primary-color-dark;
  //  transition: background-color .5s ease-in-out;
  //  color: white;
  //
  //  a {
  //    color: white;
  //  }
  //
  //  .nav-icon > div, .nav-icon:before, .nav-icon:after {
  //    background-color: white;
  //  }
  //}
}
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
img {
  max-width: 100%;
  height: auto;
  border-radius: $border-radius;
}
a {
  text-decoration: none;
  background: transparent;
}
.hp-content {
  margin: 0 2rem;
  max-width: $max-width;

  @media screen and (min-width: 1201px) {
    margin: 0 auto;
  }
}
%button {
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: $border-radius;
  padding: 0.7rem 1.07rem;
  width: 7rem;
  text-align: center;
  border: 1px solid;

  &:hover {
  }

  &:active {
    transform: scale(.95);
    transition: all .5s ease;
  }

  @media screen and (max-width: 600px) {
    padding: 0.8rem 0.8rem;
    min-width: 4.5rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  //-webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

%sign {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: linear-gradient(#000, #000), linear-gradient(#000, #000), transparent;
  background-position: center;
  background-repeat: no-repeat;
}
%plus {
  @extend %sign;
  background-size: 100% 2px,2px 100%;
}
%minus {
  @extend %sign;
  background-size: 100% 2px,2px 0;
}

input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  background: transparent;
  //-webkit-text-fill-color: white;

  &::placeholder {
    background: transparent;
  }

  &:-webkit-autofill {
    background: transparent;
  }
}

%error {
  color: red;
  font-size: .8rem;
  padding: $form-padding;
}

