footer {
  font-family: $font-family-secondary;
  //display: flex;
  height: 5.7rem;
  padding: 3.57rem;
  background: #36465a;
  color: white;

  .copyright {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}