.form-container {
  display: flex;
  padding: 1.43rem 3.57rem;
  width: 35.7rem;
  height: auto;
  flex-direction: column;
  margin: 3.57rem auto;
  align-items: center;
  border-radius: $border-radius;
  border: 1px solid $secondary-color;
  font-size: 1.7rem;

  @media screen and (max-width: 600px) {
    width: 80%;
    max-width: 30rem;
    padding: 0.5rem 1.5rem;
    border: none;
  }

  .login,
  .password {
    border: 1px solid $secondary-color;
    width: 35.7rem;
    padding: 0.71rem;
    border-radius: $border-radius;
    margin-top: 1.43rem;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    align-self: flex-start;
    margin-left: -0.71rem;

    .button {
      @extend %button;
      margin-right: 0.71rem;
      margin-top: 1.43rem;
      border: 1px solid $secondary-color;
      cursor: pointer;
      font-size: 1.2rem;
      background: $primary-color-dark;
      color: $primary-color-light;
    }
    .button:hover {
      background: $hover-dark;
    }
  }
}
