.form-container {
  display: flex;
  padding: 1.43rem 3.57rem;
  width: 35.7rem;
  height: auto;
  flex-direction: column;
  margin: 3.57rem auto;
  align-items: center;
  border-radius: $border-radius;
  border: 1px solid $secondary-color;
  font-size: 1.7rem;


  .error {
    @extend %error;
  }

  @media screen and (max-width: 600px) {
    width: 80%;
    max-width: 30rem;
    padding: 0.5rem 1.5rem;
    border: none;
  }

  .login,
  .password {
    margin-top: 1.43rem;
    width: 35.7rem;
    border-radius: 0.28rem;
    border: 1px solid #e0e0e0;

    input {
      padding: 0.71rem;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.43rem;
    width: 100%;

    .button {
      @extend %button;
      margin-right: 0.71rem;
      border: 1px solid;
      cursor: pointer;
      font-size: 1.2rem;
      //background: $primary-color-dark;
      //color: $primary-color-light;
      transition: all ease-in-out .3s;
    }
    .button:hover, [disabled] {
      //background: $hover-dark;
      color: $brand-color;
      border-color: $brand-color;
      transition: all ease-in-out .3s;
    }
  }
}
form:invalid .sign-in {
  opacity: 0.3;
  pointer-events: none;
}
.error-container {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  background: #FCE4EC;

  &.server-error {
    margin-bottom: 1rem;
  }

  .error {
    display: block;
  }
}

form > div > input:invalid:not(:focus):not(:placeholder-shown) ~ .error-container, .error-container.server-error
{
  display: block;
}
.auth-container-btn {
  display: flex;
}
.sign-up-link {
  display: flex;
  font-size: 1rem;
  align-items: center;

  a {
    color: $brand-color;
    text-decoration: underline;
    margin: 0 .5rem;
  }
}