form {
  font-family: $font-family-primary;
  display: flex;
  padding: 1.43rem 3.57rem;
  height: auto;
  flex-direction: column;
  margin: 3.57rem auto;
  border-radius: $border-radius;
  font-size: 1.7rem;
  width: 26rem;

  .form-title {
    text-align: center;
  }

  .input-group {
    margin-top: 1.43rem;
    display: flex;
    font-size: 1.2rem;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: baseline;

    input {
      border-radius: 0.28rem;
      border: 1px solid #e0e0e0;
      padding: $form-padding;

    }
  }

  .button {
    @extend %button;
    border-radius: $border-radius;
    cursor: pointer;
    margin-top: 1.43rem;
    padding: 1rem;
    background: $brand-color-dark;
    color: $primary-color-light;
    width: 100%;
    transition: all .5s ease-in-out;

    &:hover {
      background: lighten($brand-color-dark, 10%);
    }

    &:disabled {
      pointer-events: none;
    }
  }

  .error {
    @extend %error;
  }

  @media screen and (max-width: 600px) {
    width: 80%;
    max-width: 30rem;
    padding: 0.5rem 1.5rem;
    border: none;
  }
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.43rem;
  width: 100%;

  .button {
    @extend %button;
    margin: 0;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all ease-in-out .3s;
    background: $brand-color-dark;
    color: $primary-color-light;

  }

  .sign-up-link {
    display: flex;
    font-size: 1rem;
    align-items: center;

    a {
      color: $brand-color;
      text-decoration: underline;
      margin: 0 .5rem;
    }
  }
}

form .input-group.invalid ~ .button,
form .input-group.invalid ~ .form-footer .button,
form .input-group:has(input:invalid) ~ .button,
form .input-group:has(input:invalid) ~ .form-footer .button {
  pointer-events: none;
  background: lighten($brand-color-dark, 10%);
}
