.header {
  @media screen and (max-width: 600px) {
    background: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 6rem;
    transition: max-height 0.5s ease;
    margin-bottom: 2rem;
    overflow: hidden;

    .logo-sm {
      background: white;
      margin: 1rem auto;
    }

    .nav {
      flex-direction: column;
      order: 2;
      height: auto;

      &:before {
        content: "";
        display: block;
        border: 1px solid white;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      a {
        color: white;
        line-height: 2.5rem;
        padding: 0;

        &:hover {
          color: $brand-color;
        }
      }

      &:before {
        display: none;
      }
    }
    .top-panel {
      order: 3;
    }

    .nav-icon {
      margin: 1em;
      width: 1.5rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    .nav-icon:after,
    .nav-icon:before,
    .nav-icon div {
      background-color: #fff;
      border-radius: 3px;
      content: "";
      display: block;
      height: 0.2rem;
      margin: 0.4rem 0;
      transition: all 0.3s ease-in-out;
    }

    &.open {
      .nav-icon:before {
        transform: translateY(0.6rem) rotate(135deg);
      }

      .nav-icon:after {
        transform: translateY(-0.6rem) rotate(-135deg);
      }

      .nav-icon div {
        transform: scale(0);
      }

      max-height: 80rem;
      transition: max-height 0.5s ease;
      //.top-panel {
      //  height: 0;
      //  transition: height 2s ease;
      //}
      //.nav {
      //  height: 0;
      //  transition: height 2s ease;
      //}
    }

    &:before {
      content: "";
      border: 1px solid #191818;
      width: 100%;
      top: 6rem;
      position: absolute;
      left: 0;
    }
  }
}
