header {
  // will be moved
  .logo,
  .logo-sm {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-family: $font-family-secondary;
    border-radius: 50%;
    width: fit-content;
    pointer-events: auto;

    span {
      &:first-child {
        text-decoration: none;
        color: $brand-color;
        font-family: $font-family-primary;
      }

      &:last-child {
        font-family: $font-family-secondary;
        font-weight: 900;
        color: $primary-color-light
      }
    }
  }

  .logo-sm {
    display: none;
    font-size: 2rem;
    //padding: 8px;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;

    .logo {
      display: none;
    }

    .logo-sm {
      display: flex;
      margin: 0 auto;
    }

  }


}
