@font-face {
  font-family: 'inter';
  src: url("/../fonts/Inter-Medium.ttf"), url("/../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'Inter', sans-serif;
  color: #424242;
  /*font-size: 14px;*/
  margin: 0; }

html {
  font-size: 14px;
  background: #f3f5f5; }

@media screen and (max-width: 600px) {
  html {
    font-size: 10px; } }

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.28rem; }

.hp-content {
  margin: 0 2rem; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s; }

@media screen and (max-width: 600px) {
  .header {
    background: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 6rem;
    transition: max-height .5s ease;
    margin-bottom: 2rem;
    overflow: hidden; }
    .header .logo-sm {
      background: white;
      margin: 1rem auto; }
    .header .nav {
      flex-direction: column;
      order: 2;
      height: auto; }
      .header .nav:before {
        content: "";
        display: block;
        border: 1px solid white;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .header .nav a {
        color: white;
        line-height: 2.5rem;
        padding: 0; }
        .header .nav a:hover {
          color: burlywood; }
      .header .nav:before {
        display: none; }
    .header .top-panel {
      order: 3; }
    .header .nav-icon {
      margin: 1em;
      width: 1.5rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      left: 1rem; }
    .header .nav-icon:after,
    .header .nav-icon:before,
    .header .nav-icon div {
      background-color: #fff;
      border-radius: 3px;
      content: '';
      display: block;
      height: .2rem;
      margin: .4rem 0;
      transition: all .3s ease-in-out; }
    .header.open {
      max-height: 80rem;
      transition: max-height .5s ease; }
      .header.open .nav-icon:before {
        transform: translateY(0.6rem) rotate(135deg); }
      .header.open .nav-icon:after {
        transform: translateY(-0.6rem) rotate(-135deg); }
      .header.open .nav-icon div {
        transform: scale(0); }
    .header:before {
      content: "";
      border: 1px solid #191818;
      width: 100%;
      top: 6rem;
      position: absolute;
      left: 0; } }
