@font-face {
  font-family: 'inter';
  src: url("/../fonts/Inter-Medium.ttf"), url("/../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'Inter', sans-serif;
  color: #424242;
  /*font-size: 14px;*/
  margin: 0; }

html {
  font-size: 14px;
  background: #f3f5f5; }

@media screen and (max-width: 600px) {
  html {
    font-size: 10px; } }

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.28rem; }

.hp-content {
  margin: 0 2rem; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s; }

.home-page-container {
  position: relative;
  background: #f8f9fc;
  max-width: 85.7rem;
  margin: 0 auto; }
  .home-page-container .home-page {
    /*width: 100vw;*/
    /*position: absolute;*/
    display: flex;
    height: 35.7rem;
    /*justify-content: space-around;*/ }
    .home-page-container .home-page .item {
      height: 35.7rem;
      border-radius: 0.28rem;
      /*width: calc(100%/3 - 20px);*/
      position: relative; }
      .home-page-container .home-page .item:before {
        background: rgba(0, 0, 0, 0.3);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 0.28rem; }
    .home-page-container .home-page .blw {
      background: url("http://localhost:3000/images/background-8.jpg") center center no-repeat;
      background-size: cover;
      flex: 1 0 20%;
      margin-right: 1.43rem; }
    .home-page-container .home-page .pure {
      background: url(http://localhost:3000/images/background-9.jpg) center center no-repeat;
      background-size: cover;
      flex: 1 0 60%; }
    .home-page-container .home-page .prediatric {
      background: url(http://localhost:3000/images/background-10.jpg) center center no-repeat;
      background-size: cover;
      flex: 1 0 20%;
      margin-left: 1.43rem; }
