.recipes-top-panel {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;

  .filters {
    color: $primary-color-dark;
    font-size: 1.2rem;
  }

  .add-recipe-btn {
    @extend %button;
    width: auto;
    background: $primary-color-dark;
    color: $primary-color-light;

    &:hover {
      background: $hover-dark;
    }
  }
}

.recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  //flex-wrap: wrap;
  max-width: 85.7rem;

  .recipe {
    //width: calc((100% / 3) - (6rem / 3) - 2px); // one-third - two margins divided equally among 3 items
    //margin-right: 3rem;
    //margin-bottom: 1rem;
    border-radius: $border-radius;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(3n) {
      //margin-right: 0;
    }

    &:hover {
      box-shadow: 0 3px 10px #aca294;
      grid-area: unset;
      //transform: scale(1.1);
      transition: all ease .3s;
      //transform: scale(1.1);

      .txt-container {
        //transition: all ease .3s;
        //padding: 0 1rem;
      }
    }

    .image-container {

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 300px;
        aspect-ratio: 3 / 2;
      }

      &:before {
        content: "";
        display: block;
        padding-bottom: 66.66%;
        position: relative;
      }
    }


    .txt-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.7rem 0;
      //height: 11rem;

      .title {
        font-size: 1rem;
        text-wrap: balance;
      }
      .description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
        overflow: hidden;
        margin-top: auto;
      }
      .more-btn {
        @extend %button;
        background: $primary-color-dark;
        color: $primary-color-light;
        margin-top: .7rem;

        &:hover {
          background: $hover-dark;
        }
      }
    }


  }
  @media screen and (max-width: 780px) {
    grid-template-columns: repeat(2, 1fr);

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(3n) {
      margin-right: 1rem;
    }
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    width: 100%;
    margin-right: 0;
  }


  &:after {
    content: "";
    flex: auto;
  }
}
