#sign-up {
  //width: 100%;
  align-items: center;
  width: 26rem;

  .input-group {
    margin-top: 1.43rem;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    position: relative;

    label {
      flex: 1 1 35%;
    }

    input {
      border-radius: 0.28rem;
      border: 1px solid #e0e0e0;
      padding: $form-padding;

      &:focus > {
        display: block;
      }
    }

    .tooltip {
      display: none;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 10px 10px #0000001a;
      color: #000;
      font-size: .8rem;
      left: 105%;
      padding: 5px 8px;
      pointer-events: none;
      width: 8rem;
      position: absolute;
      transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);

      &:before {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent white transparent transparent;
      }
    }

  }

  .button {
    @extend %button;
    border-radius: $border-radius;
    cursor: pointer;
    margin-top: 1.43rem;
    padding: 1rem;
    background: $brand-color-dark;
    color: $primary-color-light;
    width: 100%;
    transition: all .5s ease-in-out;

    &:hover {
      background: lighten($brand-color-dark, 10%);
    }
  }

}

//form .input-group input:invalid:not(:focus):not(:placeholder-shown) ~ .tooltip {
//  display: block;
//}

#sign-up .input-group input:invalid:not(:placeholder-shown) ~ .tooltip {
  display: block;
}