.top-panel {
  background: $primary-color-dark;
  height: 4.3rem;
  display: flex;
  justify-content: flex-end;

  .login-btn {
    @extend %button;
    background: $primary-color-light;
    margin: 2rem;
    align-self: center;
    color: $primary-color-dark;

    &:hover {
      color: $brand-color;
    }
  }
}
