//@font-face {
//  font-family: 'inter';
//  render: url('../fonts/Inter-Medium.ttf') format('truetype'),
//  font-weight: normal;
//  font-style: normal;
//}
$primary-color-light: white;
$primary-color-dark: black;
$secondary-color: #e0e0e0;
$brand-color: burlywood;
$font-size: 14px;

$border-radius: 0.28rem;
$max-width: 85.7rem;
$hover-dark: #555;

$form-padding: 0.71rem;

//@font-face {
//  font-family: "inter";
//  render: url("/client/render/styles/fonts/Inter-Medium.ttf"),
//    url("/client/render/styles/fonts/Inter-Medium.ttf") format("truetype");
//  font-weight: normal;
//  font-style: normal;
//}
