//@font-face {
//  font-family: 'inter';
//  src: url('../fonts/Inter-Medium.ttf') format('truetype'),
//  font-weight: normal;
//  font-style: normal;
//}
$primary-color-light: white;
$primary-color-dark: black;
$secondary-color: #e0e0e0;
$brand-color: burlywood;
$font-size: 14px;

$border-radius: 0.28rem;
$max-width: 85.7rem;
$hover-dark: #555;

//@font-face {
//  font-family: "inter";
//  src: url("/client/src/styles/fonts/Inter-Medium.ttf"),
//    url("/client/src/styles/fonts/Inter-Medium.ttf") format("truetype");
//  font-weight: normal;
//  font-style: normal;
//}
* {
  font-family: "Inter", sans-serif;
  color: #424242;
  /*font-size: 14px;*/
  margin: 0;
}

html {
  font-size: 14px;
  background: #f3f5f5;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
img {
  max-width: 100%;
  height: auto;
  border-radius: $border-radius;
}
.hp-content {
  margin: 0 2rem;
}
%button {
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: $border-radius;
  padding: 0.7rem 1.07rem;
  width: 7rem;
  text-align: center;

  @media screen and (max-width: 600px) {
    padding: 0.8rem 0.8rem;
    min-width: 4.5rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
